---
import Hero from "../general/Hero.astro";
---

<Hero>
    <Fragment slot="title">
        <span class="block lg:inline">Your admin panel</span>
    </Fragment>
    <Fragment slot="subtitle">
        <p>We know what it takes to build a successful product and we are here to help you.</p>
    </Fragment>
</Hero>