# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/src/firebase_config.ts
/src/appcheck_config.ts
.firebaserc
.firebase

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

.DS_Store
dist
dist-ssr
*.local
