@import 'tailwindcss';
@import "@firecms/ui/index.css" layer(base);
@source "./node_modules/@firecms/**/*.{js,ts,jsx,tsx}";

@theme utilities {
  :root {
    --color-primary: #0070f4;
    --color-secondary: #ff5b79;
  }
}


body {
    @apply w-full min-h-screen bg-surface-50 dark:bg-surface-900 flex flex-col items-center justify-center;
}

a {
    @apply text-primary dark:text-primary
}
