---
interface Props {
	href: string;
	[key: string]: any;
}

const { href, ...props } = Astro.props;
---

<a href={href} {...props} class="text-primary hover:text-primary-light underline transition-colors">
	<slot />
</a>

