{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended"
    ],
    "env": {
        "node": true
    },
    "parserOptions": {
        "project": ["./tsconfig.json"],
        "ecmaVersion": 2020,
        "ecmaFeatures": {
            "legacyDecorators": true,
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "18"
        }
    },
    "rules": {
        "no-undef": "off",
        "space-before-function-paren": 0,
        "react/prop-types": 0,
        "react/jsx-handler-names": 0,
        "react/jsx-fragments": 0,
        "react/no-unused-prop-types": 0,
        "react/react-in-jsx-scope": "off",
        "import/export": 0,
        "no-use-before-define": "off",
        "no-empty-pattern": "off",
        "no-unused-vars": "warn",
        "no-shadow": "warn",
        "padded-blocks": "off",
        "brace-style": "off",
        "curly": "off",
        "semi": 0,
        "no-multiple-empty-lines": 0,
        "indent": [0, 4],
        "quotes": [1, "double", { "avoidEscape": true }],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    }
}
