[submodule "packages/saas"]
	path = saas
	url = git@github.com:FireCMSco/firecms_saas.git

[submodule "packages/data_enhancement"]
	path = data_enhancement
	url = git@github.com:FireCMSco/firecms_data_enhancement.git
