[submodule "saas"]
	path = saas
	url = git@github.com:Camberi/firecms_saas.git

[submodule "collection_editor"]
	path = collection_editor
	url = git@github.com:Camberi/firecms_collection_editor.git

[submodule "user_management"]
	path = user_management
	url = git@github.com:Camberi/firecms_collection_editor.git

[submodule "data_enhancement"]
	path = data_enhancement
	url = git@github.com:Camberi/firecms_data_enhancement.git
