[submodule "packages/saas"]
	path = saas
	url = git@github.com:FireCMSco/firecms_saas.git

[submodule "packages/collection_editor"]
	path = collection_editor
	url = git@github.com:FireCMSco/firecms_collection_editor.git

[submodule "packages/data_enhancement"]
	path = data_enhancement
	url = git@github.com:FireCMSco/firecms_data_enhancement.git

[submodule "packages/schema_inference"]
	path = schema_inference
	url = git@github.com:FireCMSco/firecms_schema_inference.git
