---
import Panel from "../../Panel.astro";
import { ContainerMixin, CTACaret, CTAOutlinedButtonMixin, defaultBorderMixin } from "../../../migration/partials/styles";
---

<Panel color={"light"}>
    <div class="max-w-6xl mx-auto text-center py-12 h-32">
    </div>
</Panel>

<Panel color={"lighter"}>
    <div class:list={[ContainerMixin, "-translate-y-44"]}>
        <video
            style={{
                pointerEvents: "none",
            }}
            class:list={["rounded-xl border", defaultBorderMixin]}
            width="100%"
            loop
            autoplay
            muted>
            <source src="/img/schema_editor.webm" type="video/mp4"/>
        </video>
    </div>

    <div class="mx-auto md:col-span-9 md:pr-8 flex justify-center flex-col h-full mb-8 -mt-24">
        <div class="flex items-center mb-3">
            <h2 class="m-0 uppercase text-gray-700">
                AirTable-like UI for your data
            </h2>
        </div>
        <p class="text-xl md:text-2xl ">
            FireCMS provides all the flexibility you
            need with the best UX.
            Edit your collections and entities using
            both a <b>spreadsheet
            view</b> and <b>powerful forms</b>.
        </p>

        <p class="text-xl ">
            Inline editing is very useful when you want to
            quickly edit a few fields of a
            document. For example, if you have a list of users,
            you can quickly edit the
            name of the user by clicking on the name and editing
            it.
        </p>

        <a
            class:list={[CTAOutlinedButtonMixin, "w-fit"]}
            href="https://demo.firecms.co"
            rel="noopener noreferrer"
            target="_blank">
            Try the demo
            <Fragment set:html={CTACaret} />
        </a>
    </div>
</Panel>