---
import Panel from "../../Panel.astro";
import TwoColumns from "../general/TwoColumns.astro";
import { defaultBorderMixin } from "../../../migration/partials/styles";

const isDarkTheme = true; // Hardcoded to replicate the behavior of the docusaurus stub
---

<Panel color={"lighter"}>
    <TwoColumns reverseSmall={false}>
        <div slot="left">
            <div class="flex items-center mb-3">
                <h3 class="m-0">
                    Easy to customise
                </h3>
            </div>
            <p class="text-xl md:text-2xl">
                FireCMS offers an easy way to adapt the
                platform to their specific needs while keeping the <b>initial setup simple</b>. Our
                practical defaults can be conveniently <b>overridden or expanded</b>.
            </p>
            <p class="text-xl">
                Effortlessly integrate your custom form fields as
                React components and preview widgets. Moreover, you
                can create detailed views related to your entities
                or within the main navigation for a truly customized
                experience.
            </p>
            <p class="text-xl">
                You could add:
                <ul>
                    <li> A <b>dashboard</b></li>
                    <li> A <b>preview</b> of the blog article you are
                        writing
                    </li>
                    <li> A representation of how the content is
                        going to look like in your <b>app or website</b>.
                    </li>
                    <li> And <b>anything</b> you can imagine.</li>
                </ul>
            </p>
        </div>
        <div slot="right">
            <div class="relative flex flex-col">
                <video
                    class:list={["pointer-events-none rounded-2xl border", defaultBorderMixin]}
                    style={{
                        maxWidth: 540,
                        aspectRatio: "540 / 515"
                    }}
                    width="100%"
                    loop
                    autoplay
                    muted>
                    <source
                        src={"/img/custom_fields_dark.mp4"}
                        type="video/mp4"/>
                </video>
            </div>
        </div>
    </TwoColumns>
</Panel>