---
import Panel from "../../Panel.astro";
---

<Panel color={"primary"}>
    <p class="max-w-7xl text-2xl md:text-5xl font-bold tracking-tight uppercase"
       style={{ lineHeight: 1.35 }}>
        FireCMS offers unbeatable UX and performance for your CMS needs.
    </p>
</Panel>