h1 {
    @apply text-6xl font-headers font-semibold
}

h2 {
    @apply text-5xl font-headers font-semibold
}

h3 {
    @apply text-4xl font-headers font-semibold
}

h4 {
    @apply text-3xl font-headers font-normal
}

h5 {
    @apply text-2xl font-headers font-normal
}

h6 {
    @apply text-xl font-headers font-medium
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: 600 !important;
}

.pro-sidebar-category > div:before{
    content: "PRO";
    padding-left: 12px;
    margin: auto;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    width: fit-content;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(236, 76, 81), rgb(149, 67, 193), rgb(98 85 250));
}

.pro-sidebar-item :before{
    content: "PRO";
    margin-right: 16px;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    width: fit-content;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(236, 76, 81), rgb(149, 67, 193), rgb(98 85 250));
}

.gradient-text {
    font-weight: 500;
    width: fit-content;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(236, 76, 81), rgb(149, 67, 193), rgb(98 85 250));
}

.gradient-bg {
    background-image: linear-gradient(to right, rgb(236, 76, 81), rgb(149, 67, 193), rgb(98 85 250));
}

/* latin-ext */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v18/tDbV2o-flEEny0FZhsfKu5WU4xD1OwGtT0rU3BE.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v18/tDbV2o-flEEny0FZhsfKu5WU4xD7OwGtT0rU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v14/iJWKBXyIfDnIV7nBrXyw023e.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nBrXyw023e.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v20/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-2Y-FV0UzdYPFkZVO.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --fcms-primary: #0070F4;
    --fcms-primary-dark: #0061e6;
    --fcms-primary-bg: #0061e610;
    --fcms-secondary: #FF5B79;
}

/* You can override the default Infima variables here. */
:root {
    --ifm-blockquote-color: inherit;
    --ifm-navbar-link-color: #fff;
    --ifm-color-primary: #0070f4;
    --ifm-color-primary-dark: #0065dc;
    --ifm-color-primary-darker: #005fcf;
    --ifm-color-primary-darkest: #004eab;
    --ifm-color-primary-light: #0d7cff;
    --ifm-color-primary-lighter: #1a83ff;
    --ifm-color-primary-lightest: #3e97ff;
    --ifm-code-font-size: 95%;
    --ifm-font-weight-bold: 600;
    --ifm-h1-font-size: 4rem;
    /*--ifm-list-left-padding: 0rem;*/
    --ifm-custom-navbar-background-color: rgba(48, 49, 55, 0.33);
    --ifm-border-color: rgb(24 24 28 / 0.4);
    --ifm-background-color: white;

    --ifm-z-index-fixed: 20;

    --ifm-toc-border-color: var(--ifm-border-color);

    --ifm-paragraph-margin-bottom: 1.0rem;
    --ifm-leading-desktop: 1;
    /*--ifm-leading-desktop: 1.25;*/
    /*--ifm-leading: calc(var(--ifm-leading-desktop) * 1rem);*/
    /*--ifm-custom-navbar-background-color: rgba(255, 255, 255, 0.33);*/
    /*--ifm-heading-font-family: 'Spline Sans Mono', "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    /*--ifm-font-family-base: 'JetBrains Mono', 'Noto Sans', sans-serif,  Helvetica, Arial, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, system-ui, "Segoe UI",  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/

    --ifm-font-family-base: 'Rubik', "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --ifm-heading-font-family: 'Rubik', 'Noto Sans', sans-serif, Helvetica, Arial, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, system-ui, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /*--ifm-code-background: 95%;*/

    --docsearch-primary-color: #0070f4;
    --docsearch-modal-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    --docsearch-searchbox-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    --docsearch-muted-color: #7f8497;
    --docsearch-hit-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    --docsearch-key-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    --docsearch-footer-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    --docsearch-logo-color: #0070f4;
}

.DocSearch-Button {
    background: #FFFFFFCC;
}

html[data-theme=dark] .DocSearch-Button {
    background: rgba(59, 59, 59, 0.8);
}

.DocSearch-Button:hover {
    background: #FFFFFF;
}

html[data-theme=dark] .DocSearch-Button:hover {
    background: rgba(59, 59, 59);
}

.footer__link-item {
    display: flex;
    gap: 4px;
    flex-direction: row;
    align-items: center;
}

[role="banner"] {
    font-family: "JetBrains Mono";
}

html[data-theme='dark'] {
    --ifm-custom-navbar-background-color: rgba(48, 49, 55, 0.33);
    /*--ifm-background-color: #ececec;*/
    --ifm-background-color: #242628;
    --ifm-border-color: rgba(16, 16, 19, 0.5);
    --ifm-background-surface-color: #232328;
    --ifm-color-emphasis-100: #232328;
    /*--ifm-background-surface-color: #242526;*/
}

article {
    padding: 32px !important;
}

article a {
    color: var(--ifm-link-color) !important;
    text-decoration: var(--ifm-link-decoration) !important;
}

article header {
    margin-top: 40px;
    margin-bottom: 16px;
}

article .theme-admonition {
    margin-top: 32px;
    margin-bottom: 32px;
}

article h2 {
    margin-top: 40px;
    margin-bottom: 16px;
}

article blockquote {
    margin-top: 16px;
    margin-bottom: 16px;
}

.sidebarViewport_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-Sidebar-styles-module {
    background-color: var(--ifm-background-color);
    border: none;
}

@media (min-width: calc(84rem + 600px)) {

    article {
        padding: 64px !important;
    }

    aside {
        border: none !important;
    }

    .theme-doc-sidebar-container > div {
        width: calc((100vw - 84rem) / 2);
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .theme-doc-sidebar-container {
        width: calc((100vw - 84rem) / 2) !important;
    }

    main .container {
        margin-left: 0 !important;
    }
}

.navbar.navbar--fixed-top {
    /*position: fixed;*/
    /*right: 0;*/
    /*left: 0;*/
    /*padding: 0;*/
    color: white;
    background-color: var(--ifm-custom-navbar-background-color);
}

.navbar__logo {
    width: 32px;
}


.navbar.navbar--fixed-top:not(.navbar-sidebar--show) {
    backdrop-filter: blur(8px);
}

.navbar__link {
    font-weight: var(--ifm-font-weight-bold);
}

[role='banner'] {
    z-index: 5;
    border: none;
}

article code {
    font-weight: 600;
    font-size: .9rem;
}

code {
    background: #FFFFFF22;
}

.theme-code-block {
    font-size: 1rem;
}

.font-mono code {
    width: 100%;
    padding: 12px;
}

button a {
    text-decoration: none;
}

a.btn {
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 600 !important;
}

h2 {
    margin-top: 2rem;
}

.header-github-link:hover {
    opacity: 0.6;
}

.header-github-link:before {
    content: '';
    width: 24px;
    height: 24px;
    display: flex;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
    /*background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;*/
}

html[data-theme=dark] .header-github-link:before {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.footer {
    z-index: 0;
}

.theme-doc-sidebar-container {
    background-color: var(--ifm-background-color);
}

html[data-theme=dark] .theme-doc-sidebar-container {
    background-color: var(--ifm-background-color);
}

html[data-theme=dark] .header-github-link:before {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

img[alt=firebase_setup] {
    max-width: 100%;
    width: 800px;
}

.intro_video {
    max-width: 960px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.theme-back-to-top-button::after {
    content: ' ';
    display: inline-block;
    mask: var(--ifm-menu-link-sublist-icon) 50% / 2rem 2rem no-repeat;
    background-color: var(--ifm-color-emphasis-1000);
    width: 100%;
    height: 100%;
    -webkit-mask: var(--ifm-menu-link-sublist-icon) 50%/2rem 2rem no-repeat;
}

article {
    display: flex;
    padding: 16px;
    flex-direction: column;
    font-size: 1.06rem;
}

article p {
    margin-top: 8px;
    margin-bottom: 8px;
}

article p img {
    max-width: 100%;
}

article img, article video {
    border-radius: 8px;
}

.table-of-contents__left-border {
    /*border-left: none !important;*/
}

.table-of-contents.table-of-contents__left-border {
    margin-top: 16px;
    z-index: 10;
    border-radius: 8px;
    background-color: var(--ifm-background-color);
    border: 1px solid var(--ifm-border-color);
}

aside > nav {
    padding: 16px;
    z-index: 10;
    border-radius: 8px;
    background-color: var(--ifm-background-color);
    border: 1px solid var(--ifm-border-color);
}

html[data-theme="dark"] {
    /*--docsearch-text-color: #f5f6f7;*/
    /*--docsearch-container-background: rgba(9,10,17,0.8);*/
    --docsearch-modal-background: #1b1b1d;
    --docsearch-footer-background: #111;
    /*--docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40,0 3px 8px 0 #000309;*/
    --docsearch-searchbox-background: #090a11;
    --docsearch-searchbox-focus-background: #111;
    /*--docsearch-hit-color: #bec3c9;*/
    /*--docsearch-hit-shadow: none;*/
    /*--docsearch-hit-background: #090a11;*/
    /*--docsearch-key-gradient: linear-gradient(-26.5deg,#565872,#31355b);*/
    /*--docsearch-key-shadow: inset 0 -2px 0 0 #282d55,inset 0 0 1px 1px #51577d,0 2px 2px 0 rgba(3,4,9,0.3);*/
    /*--docsearch-footer-background: #1e2136;*/
    /*--docsearch-footer-shadow: inset 0 1px 0 0 rgba(73,76,106,0.5),0 -4px 8px 0 rgba(0,0,0,0.2);*/
    --docsearch-logo-color: #0070f4;
    /*--docsearch-muted-color: #7f8497;*/

    --ifm-leading-desktop: 1;
    --docsearch-primary-color: #0070f4;
    --docsearch-modal-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    --docsearch-searchbox-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    --docsearch-hit-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    --docsearch-key-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    --docsearch-footer-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
}

.theme-doc-toc-desktop {
    top: calc(var(--ifm-navbar-height) + 36px) !important;
}

.markdown > h1 {
    margin-top: 6rem;
}

.markdown > h2 {
    margin-top: 5rem;
}

.markdown > h3 {
    margin-top: 3rem;
}

h1 {
    font-size: var(--ifm-h1-font-size);
}

h2 {
    font-size: var(--ifm-h2-font-size);
}

h3 {
    font-size: var(--ifm-h3-font-size);
}

h4 {
    font-size: var(--ifm-h4-font-size);
}

h5 {
    font-size: var(--ifm-h5-font-size);
}

h6 {
    font-size: var(--ifm-h6-font-size);
}

p {
    margin: 16px 0
}

.theme-doc-markdown p {
    margin: 0 0 var(--ifm-paragraph-margin-bottom);
}

.theme-doc-markdown li {
    display: list-item;
    list-style: initial;
}

.markdown li {
    word-wrap: break-word;
    list-style: initial;
}

ul {
    padding: revert;
}
