---
import Panel from "../../Panel.astro";
import LinedSpace from "../layout/LinedSpace.astro";
import AnimatedGradientBackground from "../../AnimatedGradientBackground.astro";
import HeroButtons from "./HeroButtons.astro";
import { defaultBorderMixin } from "../../../migration/partials/styles";

const editingDemoDarkVideo = "/img/landing_1080.webm";
---

<div class:list={["-mt-20 bg-gray-950 w-full relative border-0 bg-gradient-to-br from-950 to-gray-900", defaultBorderMixin]}>
    <AnimatedGradientBackground/>
    <Panel includeMargin={false}
           includePadding={false}
           container={false}
           color={"transparent"}
           className={"border-t-0"}>
        <div class="h-20"></div>
        <div class="flex flex-col w-full">
            <div>
                <LinedSpace/>
                <h1 class:list={["typography-h1 m-0 mt-20 md:mt-24 text-center block text-5xl md:text-6xl font-bold tracking-tight leading-none uppercase text-white", "px-8 md:px-16 py-4 md:py-8"]}>
                    <span class="block">Your CMS</span>
                    <span class="block md:inline">based on </span>
                    <span class="relative">
                        <span class="text-6xl md:text-7xl" style="color: #FFA000;">Firebase</span>
                        <span class="absolute -translate-x-20 translate-y-12 md:translate-y-14 -rotate-12 text-sm md:text-lg"
                              style="white-space: nowrap; color: #001E2B; background: #00ed64; border-radius: 4px; padding: 4px 8px; position: absolute;">
                            or MongoDB
                        </span>
                    </span>
                </h1>
                <h2 class:list={["typography-h2 font-mono text-center uppercase m-0 text-lg md:text-xl px-8 md:px-16 pb-16 border-0 border-b text-white", defaultBorderMixin]}>
                    Instantly create a flexible admin panel on top of your data
                </h2>
                <HeroButtons analyticsLabel="home" />
            </div>
            <div class="w-full px-8 md:px-24 lg:px-48 my-16 flex items-center justify-center">
                <div class={"flex flex-col items-center content-center justify-center -m-px"}>
                    <video
                        style={{
                            pointerEvents: "none",
                            aspectRatio: "960 / 590.77",
                        }}
                        class:list={["rounded-2xl border", defaultBorderMixin]}
                        width="100%"
                        loop
                        autoplay
                        muted
                        playsinline>
                        <source
                            src={editingDemoDarkVideo}
                            type="video/mp4"/>
                    </video>
                    <div class="flex flex-col items-center content-center justify-center text-center mt-4 text-gray-600">
                        Inline editing, customizable UI, and real-time updates. A delightful editing experience
                    </div>
                </div>
            </div>
        </div>
        <LinedSpace position={"top"}/>
    </Panel>
</div>
