---
import Panel from "../../Panel.astro";
---

<Panel color={"primary"}>
    <div
        class="relative flex flex-col items-center font-bold">
        <p class="text-3xl md:text-5xl my-1 text-white uppercase font-mono">
            Typescript
        </p>
        <p class="text-3xl md:text-5xl my-1 text-white uppercase font-mono">
            React
        </p>
        <p class="text-3xl md:text-5xl my-1 text-white uppercase font-mono">
            Tailwind CSS
        </p>
        <p class="text-3xl md:text-5xl my-1 text-white uppercase font-mono">
            Firebase/MongoDB
        </p>
        <p class="text-3xl md:text-5xl my-1 text-white uppercase font-mono">
            ️ Open-source
        </p>
    </div>
</Panel>