@import 'tailwindcss';
@import "@firecms/ui/index.css" layer(base);

@theme {
    --color-primary: #0070f4;
    --color-secondary: #12b6b2;
}

@layer utilities {


    body {
        @apply w-full min-h-screen bg-surface-50 dark:bg-surface-900 flex flex-col items-center justify-center;
    }

    a {
        @apply text-primary dark:text-primary;
    }
}
