---
import Panel from "../../Panel.astro";
import AnimatedGradientBackground from "../AnimatedGradientBackground.astro";

interface Props {
    height?: number | string;
    subtitleColor?: "gray" | "dark_gray" | "light_gray" | "white" | "primary" | "secondary" | "light" | "lighter" | "transparent";
}

const {
    height = "100px",
    subtitleColor = "lighter",
} = Astro.props;
---

<div class="w-full relative bg-gray-950 -mt-20">
    <AnimatedGradientBackground translateY={280}/>
    <Panel
        includeMargin={false}
        includePadding={false}
        color="transparent"
        innerClassName="py-8 md:py-12 p-4 md:p-8"
        className="border-t-0"
    >
        <div class="h-48"></div>
        <div style={{ height }}></div>
        <div class="mt-10 text-white">
            <div class="lg:text-left">
                <h1 class="tracking-tight font-medium text-6xl uppercase">
                    <slot name="title" />
                </h1>
            </div>
        </div>
    </Panel>
</div>

{(Astro.slots.has('subtitle') || Astro.slots.has('cta')) &&
    <Panel color={subtitleColor} includePadding={false} innerClassName={"py-8 md:py-12 p-4 md:p-8"}>
        {Astro.slots.has('subtitle') &&
            <div class="font-mono uppercase m-0 text-xl md:text-2xl">
                <slot name="subtitle" />
            </div>
        }
        {Astro.slots.has('cta') &&
            <div class="mt-5 sm:mt-8">
                <slot name="cta" />
            </div>
        }
    </Panel>
}