---
import Panel from "../../Panel.astro";
---

<Panel color={"gray"} className="relative" includePadding={false}>
    <div
        class={"mx-auto px-4 sm:px-6"}
    >
        <div
            class="relative flex flex-col items-center px-6 py-20">

            <div>
                <div
                    class="flex flex-col space-y-2 mb-4 text-lg">
                    <strong> Sign up to our newsletter to get the latest
                        news
                        and updates. No spam!
                    </strong>
                </div>

                <div class="flex flex-wrap">
                    <form id="newsletter-form">
                        <label
                            class="w-full flex items-baseline gap-3 text-sm">
                            <input type="checkbox" id="policy-checkbox" value="policy-read"/>
                            <span>By subscribing to our newsletter, you acknowledge you have read, and agree to <a
                                href="/policy/privacy_policy"
                                class="underline ">our personal data policy</a>.</span>
                        </label>
                        <div
                            class="w-full py-2 flex flex-col md:flex-row justify-between gap-2">
                            <input
                                class={"appearance-none outline-none text-xl flex-1 px-4 py-4 bg-gray-900 rounded w-full leading-tight focus:border-primary border-none"}
                                id="email-input" type="email"
                                placeholder="Enter your email" />
                            <button type="submit"
                                    id="submit-button"
                                    class={"btn px-8 py-4 sm:px-12 sm:py-4 uppercase w-auto sm:mb-0 sm:ml-2 bg-primary hover:bg-blue-700"}>
                                Sign up
                            </button>
                        </div>
                    </form>
                    <p id="error-message" class={"text-red-400 hidden"}>There was an
                        error. Make sure you introduced a valid
                        email!</p>
                </div>

            </div>
        </div>
    </div>
</Panel>

<script>
    document.addEventListener('astro:page-load', () => {
        const form = document.getElementById('newsletter-form');
        const emailInput = document.getElementById('email-input');
        const policyCheckbox = document.getElementById('policy-checkbox');
        const submitButton = document.getElementById('submit-button');
        const errorMessage = document.getElementById('error-message');

        let email = "";
        let validEmail = false;
        let submitClicked = false;
        let completed = false;
        let loading = false;
        let policyAccepted = false;

        function validateEmail(email) {
            const regex = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;
            return regex.test(email);
        }

        function updateButtonState() {
            if (loading) {
                submitButton.disabled = true;
                submitButton.textContent = "Loading";
                submitButton.classList.add('bg-gray-800');
                submitButton.classList.remove('bg-primary', 'hover:bg-blue-700', 'bg-green-600');
            } else if (completed) {
                submitButton.disabled = true;
                submitButton.textContent = "Signed up!";
                submitButton.classList.add('bg-green-600');
                submitButton.classList.remove('bg-primary', 'hover:bg-blue-700', 'bg-gray-800');
            } else if (!policyAccepted) {
                submitButton.disabled = true;
                submitButton.classList.add('bg-gray-800');
                 submitButton.classList.remove('bg-primary', 'hover:bg-blue-700', 'bg-green-600');
            }
            else {
                submitButton.disabled = false;
                submitButton.textContent = "Sign up";
                submitButton.classList.remove('bg-gray-800', 'bg-green-600');
                submitButton.classList.add('bg-primary', 'hover:bg-blue-700');
            }
        }

        emailInput.addEventListener('input', (event) => {
            email = event.target.value;
            validEmail = validateEmail(email);
            if (submitClicked) {
                emailInput.classList.toggle('border-solid', !validEmail);
                emailInput.classList.toggle('border-red-600', !validEmail);
                emailInput.classList.toggle('border-none', validEmail);
            }
        });

        policyCheckbox.addEventListener('change', (event) => {
            policyAccepted = event.target.checked;
            updateButtonState();
        });

        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            submitClicked = true;

            if (!validEmail) {
                emailInput.classList.add('border-solid', 'border-red-600');
                emailInput.classList.remove('border-none');
                return;
            } else {
                 emailInput.classList.remove('border-solid', 'border-red-600');
                 emailInput.classList.add('border-none');
            }

            loading = true;
            updateButtonState();

            try {
                const res = await fetch("https://api-kdoe6pj3qq-ey.a.run.app/notifications/newsletter", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ "email_address": email, "source": "landing" })
                });

                if (res.status < 300) {
                    completed = true;
                    errorMessage.classList.add('hidden');
                } else {
                    errorMessage.classList.remove('hidden');
                }
            } catch (e) {
                errorMessage.classList.remove('hidden');
            } finally {
                loading = false;
                updateButtonState();
            }
        });

        updateButtonState();
    });
</script>