---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/partials/general/Hero.astro";
import HeroButtons from "../components/partials/home/HeroButtons.astro";
import Panel from "../components/Panel.astro";
import ProTeaser from "../components/partials/home/ProTeaser.astro";
import UnbeatableUX from "../components/partials/features/UnbeatableUX.astro";
import { SchemaEditorIntro } from "../migration/partials/features/SchemaEditorIntro";
import OpenAITeaser from "../components/partials/features/OpenAITeaser.astro";
import History from "../components/partials/features/History.astro";
import { DataTalkIntro } from "../migration/partials/home/DataTalkIntro";
import FeaturesCarousel from "../components/partials/features/FeaturesCarousel.astro";
import AirTableLike from "../components/partials/features/AirTableLike.astro";
---

<Layout
    title="Features - FireCMS"
    description="FireCMS includes all the features you need to kickstart your project and all the customization options you may need.">

    <div class="flex flex-col min-h-screen">

        <main class="flex-grow">
            <Hero>
                <span slot="title" class="block lg:inline">Unmatched Editing Experience</span>
            </Hero>

            <AirTableLike />

            <FeaturesCarousel />

            <UnbeatableUX />

            <SchemaEditorIntro client:load />

            <OpenAITeaser />

            <Panel color="primary" includePadding={false}>
                <DataTalkIntro client:load />
            </Panel>

            <History />
            <Panel color={"light"} includePadding={true}>
                <HeroButtons analyticsLabel={"features"} client:load />
            </Panel>

                <HeroButtons analyticsLabel="features" />
        </main>
    </div>

</Layout>
