---
import Layout from "../layouts/Layout.astro";
import HeroHome from "../components/partials/home/HeroHome.astro";
import FireCMSIntro from "../components/partials/home/FireCMSIntro.astro";
import LaunchInSteps from "../components/partials/home/LaunchInSteps.astro";
import QuotesSection from "../components/partials/home/QuotesSection.astro";
import ClientLogos from "../components/partials/home/ClientLogos.astro";
import Panel from "../components/Panel.astro";
import BuiltFor from "../components/partials/home/BuiltFor.astro";
import SchemaEditorShowcase from "../components/partials/home/SchemaEditorShowcase.astro";
import { DataTalkIntro } from "../migration/partials/home/DataTalkIntro";
import ImportDataIntro from "../components/partials/home/ImportDataIntro.astro";
import TechSplash from "../components/partials/home/TechSplash.astro";
import DeveloperFeatures from "../components/partials/features/DeveloperFeatures.astro";
import OpenSourceDetails from "../components/partials/home/OpenSourceDetails.astro";
---

<Layout
    title="FireCMS - Firestore/Firebase headless CMS"
    description="Headless CMS based on Firestore/Firebase, React and tailwindcss, and completely open-source">

    <main class="max-w-[100vw] bg-gray-950 relative">

        <HeroHome />

        <FireCMSIntro />

        <LaunchInSteps />
        <QuotesSection />

        <Panel color="light" container={false}>
            <ClientLogos />
        </Panel>

        <BuiltFor />

        <SchemaEditorShowcase />

        <Panel color="primary" includePadding={false}>
            <DataTalkIntro client:load/>
        </Panel>

        <ImportDataIntro />

        <TechSplash />

        <DeveloperFeatures />

        <OpenSourceDetails />

    </main>

</Layout>
