---
import Layout from "../layouts/Layout.astro";
import HeroHome from "../components/partials/home/HeroHome.astro";
import FireCMSIntro from "../components/partials/home/FireCMSIntro.astro";
import LaunchInSteps from "../components/partials/home/LaunchInSteps.astro";
import { QuotesSection } from "../migration/partials/Quotes";
import { ClientLogos } from "../migration/partials/ClientLogos";
import BuiltFor from "../components/partials/home/BuiltFor.astro";
import { SchemaEditorShowcase } from "../migration/partials/home/SchemaEditorShowcase";
import { DataTalkIntro } from "../migration/partials/home/DataTalkIntro";
import { ImportDataIntro } from "../migration/partials/home/ImportDataIntro";
import TechSplash from "../components/partials/home/TechSplash.astro";
import DeveloperFeatures from "../components/partials/features/DeveloperFeatures.astro";
import OpenSourceDetails from "../components/partials/home/OpenSourceDetails.astro";
import DatakiIntro from "../migration/partials/home/DatakiIntro";
---

<Layout
    title="FireCMS - Firestore/Firebase headless CMS"
    description="Headless CMS based on Firestore/Firebase, React and tailwindcss, and completely open-source">

    <main class="max-w-[100vw] bg-gray-950 relative">

        <HeroHome />

        <FireCMSIntro />

        <LaunchInSteps />

        <QuotesSection client:load/>
        <ClientLogos client:load/>

        <BuiltFor />

        <SchemaEditorShowcase client:load/>

        <DataTalkIntro client:load/>

        <ImportDataIntro client:load/>

        <TechSplash />

        <DeveloperFeatures />

        <OpenSourceDetails />

        <DatakiIntro client:load/>

    </main>

</Layout>