---
import Layout from "../layouts/Layout.astro";
import HeroHome from "../migration/partials/home/HeroHome";
import FireCMSIntro from "../migration/partials/home/FireCMSIntro";
import LaunchInSteps from "../migration/partials/home/LaunchInSteps";
import { QuotesSection } from "../migration/partials/Quotes";
import { ClientLogos } from "../migration/partials/ClientLogos";
import { BuiltFor } from "../migration/partials/home/BuiltFor";
import { SchemaEditorShowcase } from "../migration/partials/home/SchemaEditorShowcase";
import { DataTalkIntro } from "../migration/partials/home/DataTalkIntro";
import { ImportDataIntro } from "../migration/partials/home/ImportDataIntro";
import { TechSplash } from "../migration/partials/home/TechSplash";
import DeveloperFeatures from "../components/partials/features/DeveloperFeatures.astro";
import FirebaseTeaser from "../migration/partials/home/OpenSourceDetails";
import DatakiIntro from "../migration/partials/home/DatakiIntro";
---

<Layout
    title="FireCMS - Firestore/Firebase headless CMS"
    description="Headless CMS based on Firestore/Firebase, React and tailwindcss, and completely open-source">

    <main class="max-w-[100vw] bg-gray-950 relative">

        <HeroHome client:load/>

        <FireCMSIntro client:load/>

        <LaunchInSteps client:load/>

        <QuotesSection client:load/>
        <ClientLogos client:load/>

        <BuiltFor client:load/>

        <SchemaEditorShowcase client:load/>

        <DataTalkIntro client:load/>

        <ImportDataIntro client:load/>

        <TechSplash client:load/>

        <DeveloperFeatures />

        <FirebaseTeaser client:load/>

        <DatakiIntro client:load/>

    </main>

</Layout>