---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/partials/general/Hero.astro";
import Panel from "../components/Panel.astro";
import CTACaret from "../components/CTACaret.astro";
import DocsIconsView from "../components/DocsIconsView.astro";
import UIComponentsShowcase from "../components/UIComponentsShowcase.astro";
---

<Layout
    title="FireCMS UI, batteries included"
    description="A complete UI kit to develop apps in no time">
    <Hero subtitleColor="dark_gray">
        <span slot="title" class="block lg:inline">FireCMS UI</span>
        <div slot="subtitle">
            <p>
                A battle-tested set of components based on <b>tailwind</b> and <b>RadixUI</b> that can be
                used in any React project.
            </p>
        </div>
        <a slot="cta"
            class="cta-button-outlined-white"
            href="/docs/components"
            rel="noopener noreferrer"
        >
            Check the docs
            <CTACaret/>
        </a>
    </Hero>

    <Panel color="transparent">
        <UIComponentsShowcase />
    </Panel>

    <Panel color="light" container={true} className="dark:bg-gray-800 dark:text-white text-lg">

        <h2 class="typography-h2 text-3xl md:text-4xl font-bold my-2">
            A solid foundation
        </h2>
        <p>
            FireCMS UI is a UI kit based on <b>React</b>, <b>tailwind</b> and <b>RadixUI</b>, with a focus
            on <b>accessibility</b> and <b>simplicity</b>.
            The defaults look great out of the box, but are easy to customize.
        </p>
        <p>
            You can use any of the <b>components</b> that power FireCMS, in your FireCMS apps or in any project.
        </p>
        <p>
            These components provide a <b>consistent look and feel</b>, and are designed to be easily
            customizable.
            Enjoy the best parts of <b>tailwind and RadixUI</b>, with a focus on accessibility and dark mode
            support,
            and an API that is easy to use and understand, inspired by Material UI.
        </p>
        <p>
            FireCMS UI merges the best of both worlds, providing a set of components that are easy to use and
            customize, while being <b>accessible</b> and <b>beautiful</b>.
        </p>
        <div class="mt-5 sm:mt-8">
            <a
                class="cta-button-outlined"
                href="/docs/components"
                rel="noopener noreferrer"
            >
                Check the docs
                <CTACaret />
            </a>
        </div>
    </Panel>

    <Panel container={true} color="lighter" className="dark:bg-gray-800 dark:text-white text-lg">

        <h2 class="typography-h2 text-3xl md:text-4xl font-bold my-2">
            Do you need icons?
        </h2>
        <p>
            FireCMS UI bundles all <b>Material icons</b>, conveniently exported as individual components
        </p>
        <DocsIconsView />
    </Panel>

</Layout>
