---
import Panel from "../../Panel.astro";
---

<Panel color={"primary"}>
    <h2 class="my-1 text-white uppercase font-mono">
        The world has changed.
    </h2>
    <h2 class="my-1 text-white uppercase font-mono">
        Your CMS should too.
    </h2>
</Panel>