---
import { Code } from "@astrojs/starlight/components";
import ClientOnlyDemo from "./ClientOnlyDemo.tsx";
import fs from "fs";
import path from "path";

interface Props {
    path: string;
    lang?: string;
}

const { path: componentPath, lang = "tsx" } = Astro.props;

const source = fs.readFileSync(path.resolve(componentPath.slice(1)), "utf-8");
---

<div class="not-content flex flex-row gap-4 items-center justify-center min-h-[120px] p-8 rounded-md dark:bg-surface-950 border  dark:border-surface-700/40 text-center">
    <ClientOnlyDemo
            client:only="react"
            className="w-full"
            path={componentPath}
    />
</div>
<Code code={source} lang={lang}/>
