@import "tailwindcss";
@import "@firecms/ui/index.css" layer(base);

@import "@material-design-icons/font/filled.css";

@plugin "@tailwindcss/typography";

.ProseMirror {
    box-shadow: none !important;
}
.ProseMirror .is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color:  rgb(100 116 139);
pointer-events: none;
    height: 0;
}
.ProseMirror .is-empty::before {
    content: attr(data-placeholder);
    float: left;
    color:  rgb(100 116 139);
pointer-events: none;
    height: 0;
}

[data-theme="dark"] {
    .ProseMirror .is-empty::before {
        color: rgb(100 116 139);
    }
}

.is-empty {
    cursor: text;
    color: rgb(100 116 139);
}


/* Custom image styles */

.ProseMirror img {
    transition: filter 0.1s ease-in-out;

    &:hover {
        cursor: pointer;
        filter: brightness(90%);
    }

    &.ProseMirror-selectednode {
        outline: 3px solid #5abbf7;
        filter: brightness(90%);
    }
}

ul[data-type="taskList"] li > label {
    margin-right: 0.2rem;
    user-select: none;
}

@media screen and (max-width: 768px) {
    ul[data-type="taskList"] li > label {
        margin-right: 0.5rem;
    }
}


[data-theme="dark"] {
    ul[data-type="taskList"] li > label input[type="checkbox"] {
        background-color: rgb(30 41 59);
    border: 2px solid #666;

        &:hover {
            background-color: rgb(51 65 85);
        }

        &:active {
            background-color: rgb(71 85 105);
        }
    }
}


ul[data-type="taskList"] li > label input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    margin: 0;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    position: relative;
    top: 5px;
    border: 2px solid #777;
    border-radius: 0.25em;
    margin-right: 0.3rem;
    display: grid;
    place-content: center;

    &:hover {
        background-color: rgb(241 245 249);
    }

    &:active {
        background-color: rgb(226 232 240);
    }

    &::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em;
        transform-origin: center;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    &:checked::before {
        transform: scale(1);
    }
}

[data-theme="dark"] {
    ul[data-type="taskList"] li[data-checked="true"] > div > p {
        color: rgb(226 232 240);
        text-decoration: line-through;
        text-decoration-thickness: 2px;
    }
}

ul[data-type="taskList"] li[data-checked="true"] > div > p {
    color: rgb(51 65 85);
text-decoration: line-through;
    text-decoration-thickness: 2px;
}

/* Overwrite tippy-box original max-width */

.tippy-box {
    max-width: 400px !important;
}

.ProseMirror:not(.dragging) .ProseMirror-selectednode {
    background-color: rgb(219 234 254);
transition: background-color 0.2s;
    box-shadow: none;
}

[data-theme="dark"] .ProseMirror:not(.dragging) .ProseMirror-selectednode {
    background-color:  rgb(51 65 85);
}

.prose-base table p {
    margin: 0;
}

.drag-handle {
    position: absolute;
    opacity: 1;
    transition: opacity ease-in 0.2s;
    border-radius: 0.25rem;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' style='fill: rgba(128, 128, 128, 0.9)'%3E%3Cpath d='M3,2 C2.44771525,2 2,1.55228475 2,1 C2,0.44771525 2.44771525,0 3,0 C3.55228475,0 4,0.44771525 4,1 C4,1.55228475 3.55228475,2 3,2 Z M3,6 C2.44771525,6 2,5.55228475 2,5 C2,4.44771525 2.44771525,4 3,4 C3.55228475,4 4,4.44771525 4,5 C4,5.55228475 3.55228475,6 3,6 Z M3,10 C2.44771525,10 2,9.55228475 2,9 C2,8.44771525 2.44771525,8 3,8 C3.55228475,8 4,8.44771525 4,9 C4,9.55228475 3.55228475,10 3,10 Z M7,2 C6.44771525,2 6,1.55228475 6,1 C6,0.44771525 6.44771525,0 7,0 C7.55228475,0 8,0.44771525 8,1 C8,1.55228475 7.55228475,2 7,2 Z M7,6 C6.44771525,6 6,5.55228475 6,5 C6,4.44771525 6.44771525,4 7,4 C7.55228475,4 8,4.44771525 8,5 C8,5.55228475 7.55228475,6 7,6 Z M7,10 C6.44771525,10 6,9.55228475 6,9 C6,8.44771525 6.44771525,8 7,8 C7,8.44771525 7,9 7,9 C7,9.55228475 7,10 7,10 Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: calc(0.5em + 0.375rem) calc(0.5em + 0.375rem);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.2rem;
    height: 1.5rem;
    z-index: 100;
    cursor: grab;

    &:hover {
        background-color: rgb(241 245 249);
    transition: background-color 0.2s;
    }

    &:active {
        background-color: rgb(226 232 240);
    transition: background-color 0.2s;
    }

    &.hide {
        opacity: 0;
        pointer-events: none;
    }

    @media screen and (max-width: 600px) {
        display: none;
        pointer-events: none;
    }
}

[data-theme="dark"] .drag-handle {
    &:hover {
        background-color: rgb(51 65 85);
    }

    &:active {
        background-color: rgb(51 65 85);
    }
}
