@import 'tailwindcss';
@import "@firecms/ui/index.css" layer(base);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@source "../index.html";
@source "./**/*.{js,ts,jsx,tsx}";
@source "../node_modules/@firecms/**/*.{js,ts,jsx,tsx}";

:root {
    --color-primary: #0070F4;
    --color-secondary: #FF5B79;
}
