---
import Panel from "../../../components/Panel.astro";
import ScreenshotsMarquee from "../../ScreenshotsMarquee.astro";
---

<Panel color={"white"} container={false}>
    <div class={"max-w-6xl mx-auto my-16"}>
        <h2 class={"mb-3 uppercase font-mono"}>
            Build better applications faster
        </h2>
        <p class="text-xl md:text-2xl">
            FireCMS PRO allows you to use all the internal components and features of FireCMS, but also provides
            additional tools and components to help you build better <strong class={"text-primary"}>back-office
            applications</strong> and <strong class={"text-primary"}>admin panels</strong> faster.
        </p>
        <p class="text-xl md:text-2xl mb-16">
            <strong class={"text-primary"}>Customizable, extensible</strong> and with a strong focus on
            developer
            experience, <strong>FireCMS PRO</strong> is the perfect
            solution for your next project.
        </p>
    </div>
    <ScreenshotsMarquee/>
</Panel>