---
interface Props {
    className?: string;
    style?: any;
    mode?: "light" | "dark";
}

const {
    className,
    style,
    mode = "dark"
} = Astro.props;
---

<div
    style={style}
    class:list={[
        "rounded-xl w-fit flex flex-col content-center justify-center border overflow-hidden",
        "border-surface-200/40 dark:border-surface-700/40",
        className
    ]}>
    <div
        class:list={[
            "h-11 rounded-t-lg flex justify-start items-center gap-1.5 px-3",
            mode === "dark" ? "bg-surface-900" : "bg-surface-100"
        ]}>
        <span class="w-3 h-3 rounded-full bg-red-400"></span>
        <span class="w-3 h-3 rounded-full bg-yellow-400"></span>
        <span class="w-3 h-3 rounded-full bg-green-400"></span>
    </div>

    <slot />

</div>
